function Main.main 2
push constant 2
call Vint.new 1
pop local 0
push local 0
push constant 0
push constant 1
call Vint.set 3
pop temp 0
push local 0
push constant 1
push constant 2
call Vint.set 3
pop temp 0
push constant 2
call Vint.new 1
pop local 1
push local 1
push constant 0
push constant 1
call Vint.set 3
pop temp 0
push local 1
push constant 1
push constant 2
call Vint.set 3
pop temp 0
push local 0
push local 1
call Vint.elems 2
pop temp 0
push constant 0
return
